.input-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  &__input {
    padding: 11px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #cecece;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
    background-color: #fff;
    &:focus {
      border: #00ffc5 1px solid;
    }
  }
  &__error-message {
    color: red;
    font-size: medium;
  }
}

.invalid {
  border: 0.5px solid red;
}
