.boardlist {
  text-align: center;
  margin-top: 30px;
  &__list {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    &__create {
      background-color: #9fe7a4;
      border-radius: 15px;
      width: 340px;
      height: auto;
      color: #fff;
      text-shadow: 1px 1px 2px gray;
      box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
      transition: transform 0.2s ease-in;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.2s ease-in;
      }
    }
    &__item {
      width: 340px;
      height: 100px;
      border-radius: 15px;
      box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
      transition: transform 0.2s ease-in;
      background-color: #fff;
      font-size: large;
      font-weight: bold;
      &_text {
        padding-top: 11%;
      }
      &:hover {
        transform: scale(1.1);
        transition: transform 0.2s ease-in;
        cursor: pointer;
      }
    }
  }
  &__icon {
    width: 100px;
    height: 100px;
    transition: transform 0.2s ease-in;
    &:hover {
      transform: scale(1.1) rotate(-4.5deg);
      transition: transform 0.2s ease-in;
      cursor: pointer;
    }
  }
}
