.board__title {
  color: #fff;
  text-shadow: 1px 1px 2px #808080;
  font-weight: bolder;
  font-size: 1.5rem;
  background-color: #9fe7a4;
  text-shadow: 1px 1px 2px #808080;
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.5);
  padding: 20px 30px;
  width: 250px;
  word-wrap: break-word;
  margin-left: 3%;
}
.board__tasks {
  display: grid;
  grid-template-columns: repeat(6, 0.23fr);
  grid-gap: 50px 40px;
  margin: 60px 3% 30px 3%;
}
.board__tasks_add {
  color: #fff;
  background-color: #0a2c74;
  transition: all 150ms ease-in-out;
  box-shadow: 0 6px 6px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.23);
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 120px;
}
.board__tasks_add:hover {
  transform: scale(1.04);
  transition: all 150ms ease-in-out;
}
.board__tasks_input {
  background-color: #fff;
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.5);
  cursor: pointer;
  height: 120px;
  padding-top: 10px;
}
.board__tasks_input img {
  position: relative;
  top: -5px;
  left: 131px;
  width: 24px;
}
